.frame{
    width: 75%;
    max-width: 1650px;

    height: 75%;
    max-height: 850px;

    background-color: var(--background-color);

    border-radius: 50px;
  
    overflow:hidden;
  
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
  
